NEXT_PUBLIC_WHATSAPP_NUMBER=6285343747010
NEXT_PUBLIC_WHATSAPP_NUMBER_2=6281256718190
NEXT_PUBLIC_CLINIC_NAME=Klinik AYNA Medical Clinic
NEXT_PUBLIC_CLINIC_EMAIL=Ayna.medclinic@gmail.com
NEXT_PUBLIC_INSTAGRAM=ayna_medicalclinic
NEXT_PUBLIC_CLINIC_ADDRESS=Jl. Pelita Raya, Bua Kana, Kec. Rappocini, Kota Makassar, Sulawesi Selatan 90231

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://qcvyzngjpwedrtewkdpn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFjdnl6bmdqcHdlZHJ0ZXdrZHBuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEzOTAzODksImV4cCI6MjA5Njk2NjM4OX0.fLFYPl30sF8FvqoG0LdFiGW8fAr0ptj63ZtlsKtBZC8
